nav {
  height: 100px;
  width: 100vw;
  background-color: #719fd1;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: #ffffff;
  /* padding: 0.9em; */
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.tweeter-logo {
  font-family: "Bungee", "sans-serif";
  font-size: 30px;
}

.fa-angle-double-down {
  width: 10px;
  color: #eb3d23;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: -5px;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #0a3766;
    padding: 1.5em 2.2em 1.5em 1.5em;
  }

  .content-right {
    font-size: 21px;
  }
}
