.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-tweet-text {
  width: 50rem;
  background-color: #f3f1eb;
  border: none;
  padding-bottom: 13px;
  border-bottom: 0.3rem solid #545149;
  font-weight: 600;
}

#tweet-text:focus {
  outline: none;
}

#new-tweet-action {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.tweet-btn {
  border: none !important;
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", "sans-serif";
  padding: 5px 12px;
  cursor: pointer;
}

.counter {
  font-family: "Bungee", "sans-serif";
  margin-right: 6px;
}

.invalid {
  color: red;
}

#form-error {
  border: 4px solid red;
  width: 50rem;
  margin: 2.5rem;
  padding: 1.9rem;
  color: red;
  font-size: 1.5rem;
  text-align: center;
}

#form-error i {
  color: red;
  margin: 0 0.5rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}
