.tweet {
  border: 0.3rem solid #545149;
  padding: 0.5rem;
  width: 100%;
  /* transition: box-shadow 0.1s; */
}

/* .article.tweet everywhere?*/

.tweet:hover {
  box-shadow: 8px 8px #ced3e5;
}

.user-profile {
  display: flex;
}

.user-name {
  font-weight: 300;
  line-height: 11px;
}

article.tweet {
  margin-bottom: 3rem;
}

article.tweet img {
  margin: 0.6em;
  height: 2.3em;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

.user-handle {
  margin-right: 0.73rem;
  color: #ced3e5;
  line-height: 11px;
}

.tweet-text {
  margin: 1rem 1.5rem 3rem 1.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  word-wrap: break-word;
  /* if tweet is long it hides the tweet and them add ellipeses at end (...) */
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

article.tweet footer {
  border-top: 0.22rem solid #545149;
  padding: 0.6rem 1.4rem 0.5rem 1.4rem;
  display: flex;
  justify-content: space-between;
}

article.tweet i {
  margin-left: 0.4rem;
  color: #3f54a1;
  font-size: 0.7em;
}

article.tweet i:hover {
  color: #c99826;
  cursor: pointer;
}

.time-passed {
  font-size: 1.1rem;
}
